# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Backend
**/__pycache__/
**/*.py[cod]
**/*$py.class
backend/venv/
backend/.pytest_cache/
backend/.env
backend/static/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env
frontend/.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo
